.boxexample {
    max-width: 70vw;
}

.explainations {
    font-size: 1.2vw;
}

.col-6 {
  width: 50vw;
}

.col-4 {
  width: 33vw;
}

.col-3 {
  width: 25vw;

}

.row {
  width: 95vw;
  margin: 1vw 0 1vw 0;
  display: flex;
}

.list {
  text-align: left;
  font-size: 1.2vw;
}

.examples {
  padding: 20px;
}

.largetext {
  font-size: large;
}

.centerimage {
  box-align: center;
}

.treehouseimages {
  width: 30vw;
  height: inherit;
  
}

.paragraphs {
  padding-top: 15px;
}

.bold {
  font-weight: bolder;
  color: lightblue;
}