.boxexample {
    max-width: 70%;
}

.explainations {
    font-size: 1.2vw;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33%;
}

.col-3 {
  width: 25%;

}

.row {
  width: 95%;
  margin-bottom: 20px;
  display: flex;
}

.list {
  text-align: left;
  font-size: 1.2vw;
}

.examples {
  padding: 20px;
}

.largetext {
  font-size: large;
}

.centerimage {
  box-align: center;
}

.treehouseimages {
  width: 100px;
  height: inherit;
  
}

.paragraphs {
  padding-top: 15px;
}

.bold {
  font-weight: bolder;
  color: lightblue;
}