* {
    


   
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Quicksand', sans-serif;
  }
  
  

  body {
    font-size: 20px;
    background-color: teal;
    font: white;
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
  }
  h1 {

      margin-top: 50px;
      margin-bottom: 50px;
      text-transform: uppercase;
      
  }
  p {
      margin-bottom: 10px;
      margin-left: 40px;
      margin-right: 40px;
      
  }
  .container {
      width: 80%
  }

  

  header {
      background: black;
  }
  nav {
      text-align: left;
  }
  
  nav ul{
      margin: 0;
      padding: 0
      list-style: none;
  }

  nav li {
      display: inline-block;
      margin-left: 100px;
      padding-top: 20px;
      padding-bottom: 20px;

  }

  nav a {
      color: white;
    text-decoration: none;
    text-transform: uppercase;
  }

  nav a:hover {
      color: teal;
      cursor: default;
  }

  

  
  h3{
      text-transform: uppercase;
  }
  
  .boxexample {
      max-width: 70%;
  }

  .explainations {
      font-size: medium;
      padding-top: ;
  }
  .col-6 {
    width: 50%;
}

.col-4 {
    width: 33%;
}

.col-3 {
    width: 25%;

}
.row {
    width: 95%;
    margin-bottom: 20px;
    display: flex;
}

.section-header {
    margin-top: 30px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.list {
    text-align: left;
    font-size: medium;
}
.examples {
    padding: 20px;
}
.largetext {
    font-size: large;
}
.centerimage {
    box-align: center;
}