* {
    


   
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Quicksand', sans-serif;
  }
  
  

  body {
    font-size: 20px;
    background-color: teal;
    font: white;
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
  }
  h1 {

      margin-top: 50px;
      margin-bottom: 50px;
      text-transform: uppercase;
      
  }
  p {
      margin-bottom: 10px;
      margin-left: 60px;
      margin-right: 60px;
  }
  .container {
      width: 80%
  }

  

  header {
      background: black;
  }
  nav {
      text-align: left;
  }
  
  nav ul{
      margin: 0;
      padding: 0
      list-style: none;
  }

  nav li {
      display: inline-block;
      margin-left: 100px;
      padding-top: 20px;
      padding-bottom: 20px;

  }

  nav a {
      color: white;
    text-decoration: none;
    text-transform: uppercase;
  }

  nav a:hover {
      color: teal;
      cursor: default;
  }

  .headshot {
      max-width: 250px;
      
      
      border-radius: 100px;
      
  }

  .headerimageleft {
    float: left;
    margin-left: 60px;
    color: white;
    font-size: small;
    margin-right: 20px;
    margin-bottom: 15px;
    
  }

  .headerimageright {
      float: right;
      margin-right: 60px;
      font-size: small;
      margin-left: 20px;
      margin-bottom: 15px;
  }

  h3{
      text-transform: uppercase;
  }
  
  



