* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Quicksand', sans-serif;
}
  
body {
  /* font-size: 3vh; */
  background-color: teal;
  font: white;
  color: white;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  /* justify-content: center; */
}

.container {
  width: 80%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: black;
  font-size: 2vw;
  margin-bottom: 1vw;
}

.navbar {
  text-align: left;
}

.navbar-list {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-list-item {
  margin-left: 5vw;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

.nav-link {
  max-width: 20vw;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  color: teal;
  cursor: default;
}

.headshot {
  max-width: 30vw;
  border-radius: 25%;
}

.headerimage {
  flex-direction: column;
  min-width: 30vw;
  color: white;
  margin: 20px 0;
  align-items: center;
  justify-content: flex-start;
}

.footer {
  margin-top: 2vw;
  font-size: 1.5vw;
  background-color: black;
  padding: .5vw;
}

.blogindex {
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 100vw;
}

.blogname {
  background-color: black;
  border-radius: 2vw;
  margin: 1vw;
  padding: 1vw;
  width: 50vw;
}

.bloglink {
  font-size: 3vw;
  text-align: center;
  text-decoration: none;
  color: white;
}

.page {
  display: inline-flex;
  flex-direction: column;
  width: 90vw;
  font-size: 1.5vw;
}

.page-title {
  margin-top: 2vw;
  margin-bottom: 2vw;
  text-transform: uppercase;
  font-size: 4vw;
}

.page-subtitle {
  font-size: 2vw;
}

.pageContent {
  display: flex;
  flex-direction:row;
  margin: 1vw;
  align-items: center;
  justify-content: space-around;
}

.section {
  margin: 1.5vw;
}

.section-title {
  text-transform: uppercase;
  margin-bottom: 1vw;
  font-size: 2vw;
}

.section-subtitle {
  text-transform: uppercase;
  margin-bottom: 1vw;
  font-size: 1.5vw;
}

.section-link {
  color: white;
}
  